<!DOCTYPE html>
<html>
<head>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="css/sample.css" />
<title>Toroidal Chess</title>
<link rel="stylesheet" href="css/chessboard-0.3.0.min.css">
<link rel="stylesheet" href="css/board.css">
<link rel="stylesheet" href="css/chat.css">

<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<!--
<link href = "css/jquery-ui.css" rel = "stylesheet">
<script src = "js/jquery-1.10.2.js"></script>
<script src = "js/jquery-ui.js"></script>
-->

</head>
<body>
    <div id="wrapper">
        <div id="leftcolumn">
          <h2 id="historyHeader"> Move History </h2>

          <div id="historyContainer">
            <ol id="moveHistory">

            </ol>
          </div>
        </div>

        <div id="content">

          <h1 id="vs"> <span id="myName"><%= myName %></span> vs. <span id="enemyName"><%= enemyName %></span></h1>

          <div id="board_buttons">
            <div id="showValid<%= showValid %>"></div>
            <div id="showThreat<%= showThreat %>"></div>
            <div id='<%= roomNamer %>'></div>
            <div id="promotionBox"> <div id="promotionText"> </div> </div>
            <div id="resignBox"> <div id="resignText"> </div> </div>
            <div id="drawBox"> <div id="drawText"> </div> </div>
            <div id="prettyAlertBox"></div>
            <div id="enemyNameDisplay" class="highlightedPlayerName"><%= enemyName %></div>
            <div id="board1"></div>
            <div id="myNameDisplay" class="highlightedPlayerName"><%= myName %></div>
            <div id="buttons">
                <button class="gameButtons" id="resign"> Resign </button>
                <button class="gameButtons" id="draw"> Propose Draw </button>
                <button class="gameButtons" id="return"> Return To Lobby </button>
            </div>
          </div>
       </div>

        <div id="rightcolumn">
          <h2 id="messageHeader"> Messages </h2>
          <div id="chatContainer">
            <ul id="messages">

          <!-- template for messages
          <li>
              <div class="messageContainer">
                <div class="nameTile" style="color: #7a04ef;"><strong>aaaaaaaaaaaaaaa:</strong></div>
                <div class="messageTile">Bunch 'o' content just tons of it wow so much that I wish the other two divs on the left would match my height (with extra extra extra extra extra padding at the bottom)</div>
              </div>
            </li>
          -->

        </ul>
            <form id="messageForm" action="">
              <input id="m" autocomplete="off" /><button id="chatButton">Chat</button>
            </form>
          </div>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/chessboard-0.3.0.min.js"></script>
    <script src="js/prettyDialog.js"></script>
    <script src="js/toroidal.js"></script>
    <script src="js/board.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/gameButtons.js"></script>
</body>
</html>
